ol {
    border: 2px solid blueviolet;
    margin : 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(169, 142, 194)
    width: 300px;
}

h1 {
    color: rgb(53, 11, 92);
}
